<div class="Container">
    <div class="panel panel-default">
        <div class="panel-heading">Edition du Nom Service</div>
        <div  class="panel panel-body" *ngIf="currentService">

            <form #f="ngForm" (ngSubmit)="onUpdateService(f.value)" >
                <div class="form-group">
                    <label class="control-label">Nom Service</label>
                    <input class="form-control" type="text" name="nomService" [(ngModel)]="currentService.nomService">  
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Edit</button>
               </div>
            </form>
        </div>
    </div>
</div>