<div  class="container">
        <div class="col-md-9 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Nouveau Rapport </div>            
                            <div class="panel-body" *ngIf="mode==1">
                                            <form  (ngSubmit)="onSaveHospitalisation()" > 
                                                
                                                                                   
                                            <!--<div class="form-group">
                                                    <label>Select Nom Services</label>
                                                    <label>
                                                        <select   [(value)]="nomServices">
                                                                <option>None</option>
                                                                <option value="Urgence">Urgence</option>
                                                                <option value="Pediatrie">Pediatrie</option>
                                                                <option value="Urologies">Urologies</option>
                                                        </select>
                                                    </label>
                                                </div>-->

                                                <div class="form-group">
                                                    <label class="control-label">Nom Services </label>
                                                   <!-- <input class="form-control" type="text" name="nomServices"  [(ngModel)]="currentHospit.nomServices">  
                                                   --><select name="nomServices"  [(ngModel)]="currentHospit.nomServices">
                                                        <option *ngFor="let s of servicesNames" >{{s}} </option>
                                                    </select>
                                                </div>


                                            <div class="form-group">
                                            
                                                <label class="control-label">Date Debut </label>
                                                <input class="form-control" type="date" name="dateDebutHosp"  [(ngModel)]="currentHospit.dateDebutHosp">  
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Date Fin</label>
                                                <input class="form-control" type="date" name="dateFinHosp"  [(ngModel)]="currentHospit.dateFinHosp">  
                                            </div>






                                                

                                                <div class="form-group">
                                                    <label class="control-label">Nombre Jours Hosp </label>
                                                    <input class="form-control" type="text" name="nombreJrsHosp"  [(ngModel)]="currentHospit.nombreJrsHosp">  
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Nombre Malades Hosp </label>
                                                    <input class="form-control" type="text" name="nombreMaladHosp"  [(ngModel)]="currentHospit.nombreMaladHosp">  
                                                </div>
                                            
                                                <div class="form-group">
                                                    <label class="control-label">Nombre de Guerris</label>
                                                    <input class="form-control" type="number" name="nombreGuerris" [(ngModel)]="currentHospit.nombreGuerris">  
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Nombre Referes</label>
                                                    <input class="form-control" type="number" name="nombreReferes"  [(ngModel)]="currentHospit.nombreReferes">  
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Nombre Deces</label>
                                                    <input class="form-control" type="text" name="nombreDeces"  [(ngModel)]="currentHospit.nombreDeces">  
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Nombre Chambre</label>
                                                    <input class="form-control" type="text" name="nombreChambre"  [(ngModel)]="currentHospit.nombreChambre">  
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label">Nombre Lits</label>
                                                    <input class="form-control" type="number" name="nombreLits"  [(ngModel)]="currentHospit.nombreLits">  
                                                </div>
                                
                                                <div class="form-group">
                                                    <label class="control-label">nombre Consultation</label>
                                                    <input class="form-control" type="number" name="nombreConsul"  [(ngModel)]="currentHospit.nombreConsul">  
                                                </div>
                                           

                                            <button class="btn btn-success"  type="submit">Ajouter</button>                                          
                                           </form>
                            </div>


                            <div class="panel-body" *ngIf="mode==2">
                                        <button class="btn btn-success"  (click)="onNewHospitalisation()">Nouveau Rapport</button>
                                        <div class="form-group">
                                            <label >ID:</label><label>{{currentHospit.idHosp}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label >Nom Services :</label><label>{{currentHospit.nomServices}}</label>
                                       </div>
                                       <div class="form-group">
                                        <label >Nombre Malades Hosp :</label><label>{{currentHospit.nombreMaladHosp}}</label>
                                   </div>
                            
                                        <div class="form-group">
                                            <label >nombre Guerris:</label><label>{{currentHospit.nombreGuerris}}</label>
                                        </div>
                            
                                        <div class="form-group">
                                            <label>Nombre Referes:</label><label>{{currentHospit.nombreReferes}}</label>
                                        </div>
                            
                                        <div class="form-group">
                                            <label >nombre Deces:</label><label>{{currentHospit.nombreDeces}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label >nombre Lits :</label><label>{{currentHospit.nombreChambre}}</label>
                                        </div >           
                                    <div class="form-group">
                                        <label >nombreChambre :</label><label>{{currentHospit.nombreChambre}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label >nombre Consultation :</label><label>{{currentHospit.nombreConsul}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label >Date Debut :</label><label>{{currentHospit.dateDebutHosp}}</label>
                                        </div>
                                    <div class="form-group">
                                            <label >Date Fin :</label><label>{{currentHospit.dateFinHosp}}</label>
                                    </div> 
                                    <div class="form-group">
                                        <label >Taux Moyenne Occupation Lits :</label><label>{{currentHospit.tauxMoyenneOccupationLit}}</label>
                                </div>

                            <div class="form-group">
                                <label >Durée Moyenne de séjours :</label><label>{{currentHospit.dureeMoyenDesjrs}}</label>
                        </div>

                                    

                                    <!-- <div class="form-group">
                                        
                                                <select class="browser-default custom-select">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    </select>
                                         </div>
                                    -->
                    
                            </div>
            </div>
     </div>
</div>
