<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des Pathologies </div>
        <div class="panel-body">
  <!--<form #f="ngForm" (ngSubmit)="onChercher(f.value)">
              <div class="form-group">
                  <label>Keyword</label>
                  <input type="text" name="keyword" ngModel>
                  <button type="submit" class="btn btn-primary">Chercher</button>
              </div>
  
  </form>-->
  <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <td scope="col">ID</td>
          <td scope="col">Nom PATHALOGIE</td>
          <td scope="col">DATE D</td>
          <td scope="col">DATE F</td>
          <td scope="col">NOMBRE S M</td>
          <td scope="col">NOMBRE S F</td>
          <td scope="col">NOMBRE M M</td>
          <td scope="col">NOMBRE M F</td>
          <td  colspan="2">ACTIONS</td>
        </tr>
      
      
  
      
        <tr *ngFor= "let path of pathologiess">
          <td>{{path.idPath}}</td>
          <td>{{path.nomPath}}</td>
          <td>{{path.dateDebut}}</td>
          <td>{{path.dateFin}}</td>  
          <td>{{path.nbreSexM}}</td>          
          <td>{{path.nbreSexF}}</td>
          <td>{{path.nbreMortM}}</td>
          <td>{{path.nbreMortF}}</td>
 
          <td><button (click)="onDelete(path.idPath)" class="btn btn-danger">Supprimer</button></td>
          <td><button (click)="onEditPathologie(path)" class="btn btn-success">Editer</button></td>
          
          
        </thead>
  </table>
  <!--<ul *ngIf="pages" class="nav nav-pills">
    <li  [ngClass]="i==currentPage?'active':''"  *ngFor="let h of  pages"; let i="index">
      <a class="clickable" (click)="onGetHospitalisation()">lmlm</a>
    </li>
    </ul>
  <ul *ngIf="pages"  >
    <li [ngClass]="i==currentPage?'active':''" *ngFor="let h of pages; let i=index" >
        <a  class="clickable" (click)="onPageHospitalisation(i)">{{i}}</a>
    </li>
  </ul>-->
        </div>
  </div>
  </div>
  
  
  
