<div  class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
      <div class="panel panel-default">
          <div class="panel-heading">Nouveau Pathologie </div>
      
                      <div class="panel-body" *ngIf="mode==1">
                                      <form  (ngSubmit)="onSavePathologie()" >                                                
                                          <div class="form-group">
                                              <label class="control-label">Nom Pathologie</label>
                                              <input class="form-control" type="text" name="nomPath" [(ngModel)]="currentPathologie.nomPath">  
                                          </div>

                                        <!-- <div class="form-group"  table >
                                            <tr><td class="control-label">Tranche d age 1</td>
                                                <td><input class="form-control" type="text" name="dateFin" [(ngModel)]="currentPathologie.dateFin"></td>  
                                            </tr>
                                            
                                            <tr><td class="control-label">Tranche d age 2</label></td>
                                                <td><input class="form-control" type="text" name="dateDebut" [(ngModel)]="currentPathologie.dateDebut"> </td> 
                                             </tr>
                                            </div>-->








                                          <div class="form-group">
                                              <label class="control-label">Nombre Sex M</label>
                                              <input class="form-control" type="number" name="nbreSexM"  [(ngModel)]="currentPathologie.nbreSexM">  
                                          </div>
                                          <div class="form-group">
                                              <label class="control-label">Nombre Sex F</label>
                                              <input class="form-control" type="text" name="nbreSexF"  [(ngModel)]="currentPathologie.nbreSexF">  
                                          </div>

                                          <div class="form-group">
                                              <label class="control-label">Nombre Mort M</label>
                                              <input class="form-control" type="text" name="nbreMortM"  [(ngModel)]="currentPathologie.nbreMortM">  
                                          </div>

                                          <div class="form-group">
                                              <label class="control-label">Nombre Mort F</label>
                                              <input class="form-control" type="number" name="nbreMortF"  [(ngModel)]="currentPathologie.nbreMortF">  
                                          </div>
                          
                                          <button class="btn btn-success" type="submit">Save</button>
                          
                                      </form>
                      </div>
                      <div class="panel-body" *ngIf="mode==2">
                                  <button class="btn btn-success"  (click)="onNewPathologie()">Nouveau Pathologie</button>
                                  <div class="form-group">
                                      <label >ID:</label><label>{{currentPathologie.idPath}}</label>
                                  </div>
                      
                                  <div class="form-group">
                                      <label >Nom Pathologie:</label><label>{{currentPathologie.nomPath}}</label>
                                  </div>
                      
                                  <div class="form-group">
                                      <label>Nombre Sex M:</label><label>{{currentPathologie.nbreSexM}}</label>
                                  </div>
                      
                                  <div class="form-group">
                                      <label >nombre Sex F:</label><label>{{currentPathologie.nbreSexF}}</label>
                                  </div>
                                  <div class="form-group">
                                      <label >nombre Mort M :</label><label>{{currentPathologie.nbreMortM}}</label>
                                  </div >           
                              <div class="form-group">
                                  <label >nombre Mort F :</label><label>{{currentPathologie.nbreMortF}}</label>
                              </div>
                                       
                      </div>
      </div>
</div>
</div>
