<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des Personnels </div>
  <table class="table table-bordered table-responsive">
    <tbody>
             <tr>
              <td scope="col">ID</td>
              <td scope="col">NOMBRE SPECIALISTE</td>
              <!--<td scope="col">NOMBRE TS</td>
             <th scope="col">NOMBRE IMS</th>
           <th scope="col">NOMBRE SECRETARIATS</th>
            <th scope="col">NOMBRE GENERALISTES</th>-->
            <td scope="col">NOMBRE SAGE-FEMMES</td>
            <!--<td scope="col">NOMBRE AI</td>-->
            <td scope="col">NOMBRE PHARMACIENS</td>
            <td scope="col">NOMBRE DENTISTES</td>
            <!--<td scope="col">NOMBRE TSS</td>-->            
            <td scope="col">DATE DEBIT</td>
            <td scope="col">DATE FIN</td>
            <td scope="col">SERVICES</td>
            
          <td scope="colspane=2">ACTIONS</td>
        </tr>             
         <tr *ngFor="let pr of personne">
          <td>{{pr.idPersonne}}</td>
          <td>{{pr.nombreSpecialiste}}</td>
          <td>{{pr.nombreSageFemmes}}</td>    
          <td>{{pr.nombrePharmaciens}}</td>
          <td>{{pr.nombredentistes}}</td>
          <td>{{pr.dateDebit}}</td>
          <td>{{pr.dateFin}}</td> 
          <td>{{pr.service.nomService}}</td>         
          <td><button (click)="onDelete(pr.idPersonne)" class="btn btn-danger">Supprimer</button></td>
          <td><button (click)="onEditPersonne(pr)" class="btn btn-success">Editer</button></td>
          </tr>
        </tbody>
    </table>
  
  
  
  </div>
  </div>