<div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">Liste des hospitalisations </div>
      <div class="panel-body">
<!--<form #f="ngForm" (ngSubmit)="onChercher(f.value)">
            <div class="form-group">
                <label>Keyword</label>
                <input type="text" name="keyword" ngModel>
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>

</form>-->
<!--<button class="btn btn-primary" (click)="onGetHospitalisation()"></button>-->
<table class="table table-bordered table-responsive">
  <tbody>
      <tr>
        <td >ID</td>
        <td >NOMBRE GUERRIS</td>
        <td >NOMBRE REFERES</td>
        <td >NOMBRE DECES</td>
        <td >NOMBRE CHAMBRE</td>
        <td >NOMBRE LITS</td>
        <td >NOMBRE CONSULT</td>
        <td >Date Debut</td>
        <td >Date Fin</td>
        <td >SERVICE</td>
        <td colspane="2" >ACTIONS</td>               
      </tr> 
          <!--<tr *ngFor="let h of hospitalisations._embedded.hospitalisations"></tr>  -->   
      <tr *ngFor= "let h of hospitalisations">
        <td scope="row">{{h.idHosp}}</td>
        <td>{{h.nombreGuerris}}</td>
        <td>{{h.nombreReferes}}</td>
        <td>{{h.nombreDeces}}</td>
        <td>{{h.nombreChambre}}</td>
        <td>{{h.nombreLits}}</td>
        <td>{{h.nombreConsul}}</td>
        <td>{{h.dateDebutHosp}}</td>
        <td>{{h.dateFinHosp}}</td>
        <td>{{h.service.nomService}}</td>
        <td><button (click)="onDelete(h.idHosp)" class="btn btn-danger">Supprimer</button></td>
        <td><button (click)="onEditHosp(h)" class="btn btn-success">Editer</button></td>
        </tr>   
    </tbody>
</table>
<!--<ul *ngIf="pages" class="nav nav-pills">
  <li  [ngClass]="i==currentPage?'active':''"  *ngFor="let h of  pages"; let i="index">
    <a class="clickable" (click)="onGetHospitalisation()">lmlm</a>
  </li>
  </ul>
<ul *ngIf="pages"  >
  <li [ngClass]="i==currentPage?'active':''" *ngFor="let h of pages; let i=index" >
      <a  class="clickable" (click)="onPageHospitalisation(i)">{{i}}</a>
  </li>
</ul>-->
      </div>
</div>
</div>


