<nav class="navbar navbar-inverse" *ngIf="auth.isAuthentifier()==true">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
    <!--<li class="active"><a routerLink="/Produits">Home</a></li>-->
    <li class="active"><a routerLink="/home" class="glyphicon glyphicon-home"> Acueill</a><li></li>
    <li  class="active" *ngIf="auth.isAdmin()"><a routerLink="/MyChart"><span class="glyphicon glyphicon-dashboard"></span> Tableau de Bord</a></li>
                     
    <i class="bi bi-bar-chart-steps"></i>
  <!-- <li class="dropdown">
                                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produit
                                      <span class="caret"></span>
                                    
                                    </a>
                                      <ul class="dropdown-menu">
                                        <li><a routerLink="/produit">Chercher</a></li>
                                        <li><a routerLink="/new-product">Ajouter </a></li>
                                      </ul>
                                          </li>  -->
 

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hospitalisation
        <span class="caret"></span></a>   
        <ul class="dropdown-menu">
              <li><a routerLink="/hospitalisation" class="glyphicon glyphicon-plus"> Ajouter </a></li>
              <li><a routerLink="/listHosp" class="glyphicon glyphicon-th-list"> List</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
              <li><a routerLink="/servicesHop"   class="glyphicon glyphicon-plus">  Ajouter </a></li>
              <li><a routerLink="/listServices"  class="glyphicon glyphicon-th-list">  List</a></li>
        </ul>

      </li>





      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Personnels
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/personnel"  class="glyphicon glyphicon-plus" >  Ajouter </a></li>
          <li><a routerLink="/listPersonne"  class="glyphicon glyphicon-th-list">  List </a></li>
        </ul>
      </li>

      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pathologies
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
              <li><a routerLink="/pathologie" class="glyphicon glyphicon-plus">  Ajouter </a></li>
              <li><a routerLink="/listPatho"  class="glyphicon glyphicon-th-list">  List </a></li>

        </ul>
      </li>


      <!--<li><a routerLink="/MyChart">MyChart</a></li>-->

         <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parametre Rapport
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/produit">Chercher</a></li>
          <li><a routerLink="/new-product">Ajouter </a></li>
        </ul>
      </li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
     
      <li class="dropdown">        
        <a class="dropdown-toggle" *ngIf="auth.isAdmin()" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> Gestion Utilisateur
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
              <li><a routerLink="/GestionUser" class="glyphicon glyphicon-plus">  Ajouter </a></li>
             <!-- <li><a routerLink=""><span class="glyphicon glyphicon-user"></span> Utilisateur</a></li>
        -->   <li><a routerLink="/listPatho"  class="glyphicon glyphicon-th-list">  List </a></li>

        </ul>
      </li>
      
      <li><a><span class="glyphicon glyphicon-log-user"></span> {{auth.username}}</a></li>

 
      <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Deconnecter</a></li>

    </ul>
 </div>
</nav>




<router-outlet>

</router-outlet>