<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des Produits </div>
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
            <div class="form-group">
                <label>Keyword</label>
                <input type="text" name="keyword" ngModel>
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>

        </form>
    <div class="panel-body"> 
        <table *ngIf="produits" class="table table-striped">
            <tr>
                <th>ID</th><th>DES</th><th>PRIX</th><th>QTE</th> <th>MRQ</th> <th>Delete</th>
            </tr>
            <tr *ngFor="let p of produits._embedded.produits">
                <td>{{p.id}}</td>
                <td>{{p.designation}}</td>  
                <td>{{p.price}}</td>
                <td>{{p.quantite}} </td>
                <td>{{p.marque}} </td>
                <td><a  class="btn btn-danger" (click)="onDeleteProduct(p)">Delete</a></td>
                <td><a  class="btn btn-success" (click)="onEditProduct(p)">Edit</a></td>

            </tr>
        </table>

        <ul *ngIf="pages"  class="nav nav-pills">
            <li [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index" >
                <a  class="clickable" (click)="onPageProduct(i)">{{i}}</a>
            </li>
        </ul>
     </div>
   </div> 
</div>